body {
    background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background-color: #000;
}

.return-home-div {
    margin: 20px 180px;
}

.invis-hidden {
    visibility: hidden;
}

.invis-show {
    visibility: show;
}

.warning {
    color: red;
}